.header{
    padding: 30px 88px 30px 88px;
    &__logo{
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
        display: block;
        height: 49px;
        width: 80px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .link-boder{
        border-bottom: 1px solid transparent;       
            &:hover{
            border-bottom: 1px solid #fff;
            }
        }
    @include pad{
        padding: 30px 39px;
        .navbar__item{
            margin-left: $margin*5;
        }
    }
    @include mb{
        justify-content: center;
        padding: 0;
        flex-direction: column;
        &__container{
            padding: 10px 0px;
        }
        &__logo{
            background-size: cover;
            max-width: 48px;
            height: 29px;
        }
        .link-boder{
                border-bottom: 0px;
                &:hover{
                    border-bottom: 0px;
                }
            }
        .navbar{
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }
        .navbar__item{
            padding: 0px;
            margin: 0;
            width: 50%;
            border: 1px solid #fff;
        }
        .navbar__item__link{
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    
}


