.faq__banner{
    height: 304px;
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/qa.png") no-repeat center;
    background-size: cover;
    margin-bottom: 80px;
    
    .faq__header{
        height: 304px;
        align-items: flex-end;
    }
    .faq__title{
        color: #000;
    }
    .qa__icon{
        width: 58px;
        height: auto;   
    }
    @include pad{
        margin-bottom: $margin*5;
        .qa__icon{
            width: 48px;
        }
    }
    @include mb{
        height: 143px;
        margin-bottom: 24px;
        .faq__header{
            height: 143px;
        }
        .qa__icon{
            width: 24px;
        }
    }
}
.faq__container{
    margin-bottom: 264px;
    .item__a{
        margin-left: 95px;
    }
    @include pad{
        margin-bottom: 104px;
        .item__a{
            margin-left: 60px;
        }
    }
    @include mb{
        margin-bottom: 56px;
        .item__a{
            margin-left: 0px;
            white-space: pre-line;
        }
    }
}
