
  <header class="header bg-primary d-flex justify-content-between">
    <h1 class="header__container">
      <a class="header__logo m-auto" href="index.html">眼鏡電商</a>
    </h1>
    <nav>
      <ul class="navbar">
        <li class="navbar__item ml-8">
          <a href="#" class="navbar__item__link link-boder text-light text-s pt-1 pb-1">系列鏡框</a>
        </li>
        <li class="navbar__item ml-8">
          <a href="#" class="navbar__item__link link-boder text-light text-s pt-1 pb-1">門市據點</a>
        </li>
        <li class="navbar__item ml-8">
          <a href="#" class="navbar__item__link link-boder text-light text-s pt-1 pb-1">部落格</a>
        </li>
        <li class="navbar__item ml-8">
          <a href="faq.html" class="navbar__item__link link-boder text-light text-s pt-1 pb-1">常見問題</a>
        </li>
      </ul>
    </nav>
  </header>
